// Use this file to define style overrides for @edx/paragon
// This file is included after all Paragon styles, but should generally avoid using private mixins in Paragon.

//override
#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;


 // Change background color in course
div, footer, 
.sequence-navigation .sequence-navigation-tabs .btn,
.pgn__data-table.is-striped tr:nth-child(2n){
  background-color: $cyber-dark;
}

//Change header background color in course
header div{
  background-color: $cyber-darker !important;
}


p{
  color: white !important;
}
header {
  color: white;
}
.nav-underline-tabs .nav-link{
  color :white;}

.dropdown-toggle {
  appearance: none;
  cursor: pointer;
  border-width: 2px;
  border-style: solid;
  border-color: #dd2227;
  border-radius: 4px;
  color: #fff;
  text-decoration: none;
  display: inline-block;
  padding: 10px 20px;
  background-color: transparent;
  letter-spacing: 0;
  transition: background-color 0.5s, color 0.5s;
  box-shadow: none;
  background-image: none;
}

.dropdown-toggle:hover{
  background-color: #dd2227 !important;
  color: #fff;
  background-image: none !important;
  border-color: $primary !important;
  box-shadow: none;
}

.dropdown-item{
  color:#fff;
}

.dropdown-item:focus, .dropdown-item:hover {
  background-color: crimson;
    color: white;
}

.course-tabs-navigation .nav a:not(.active):hover,
.course-tabs-navigation .nav a:hover, .course-tabs-navigation .nav button:hover {
  background-color: crimson;
}

.pgn__menu-select-trigger-btn {
  box-sizing: border-box;
  border: none;
  color: crimson;
  background-color: transparent;
}

.pgn__menu-select-trigger-btn:hover {
  background: none;
  border: none;
  box-sizing: border-box;
  color: #960e29;
}

.sequence-navigation .sequence-navigation-tabs .btn {
  color: #fff;
}

.sequence-navigation .next-btn,
.sequence-navigation .previous-btn {
  color: white;
}
.icon-container{
  color: #fff;
}

.text-dark-700 {
  color: white !important;
}

.text-dark-500 {
  color: crimson !important;
}

.unit-navigation .btn-outline-primary:hover,
.unit-navigation .btn-outline-secondary:hover {
    background-color: crimson;
    border-color: #9a0e2a;
    color: #fff;
}

.collapsible-trigger span.align-middle {
    color: white;
}

.course-outline-tab > .col-md-4 > section > ul > li > a {
  display: none;
}

div .h2 {
    color: white;
}

.unit-container {
  max-width: none;
  margin-right: 0;
  margin-left: 0;
  padding-left: 40px;
  padding-right: 40px;
}

}

#root header {
    display: none;
}

#root footer {
    display: none !important;
}

.course-tabs-navigation {
    display: none;
}

#root [data-testid="instructor-toolbar"] {
    display: none;
}

#main-content div.position-relative.d-flex.align-items-start {
    display: none !important;
}

.sequence-container{
margin-bottom:0;
}

.text-right.small.py-1 {
    display: none;
}

#root main {
  height: 100vh;
  flex-grow: 1;
}

//Improve Edx Course Index
//boton tipo anchor
.row.w-100.m-0.mb-3.justify-content-end > .col-12.col-md-auto.p-0 > button {
  background: none;
  border: none;
  color: crimson; 
  cursor: pointer;
  padding: 0;
  margin: 0;
  font: inherit;
}

.row.w-100.m-0.mb-3.justify-content-end > .col-12.col-md-auto.p-0 > button:hover {
  text-decoration: underline;
}

.row.w-100.m-0.mb-3.justify-content-end > .col-12.col-md-auto.p-0 > button:focus {
  outline: none;
}


//header

[data-testid="start-resume-card"] .pgn__card-header .pgn__card-header-actions .btn {
  color: white; 
  width: fit-content;
  margin-top: 5px; 
}

.mb-3.raised-card.pgn__card.pgn__card-light.card .pgn__card-header{
  display: block !important;
  color: white;
}

//collapsible

.pgn_collapsible.mb-2.collapsible-card-lg{
  background-color:#1a1919 !important;
  border-radius: 5px;
}

.pgn_collapsible.mb-2.collapsible-card-lg div{
  background-color:#1a1919 !important;
}

//margin
.row.course-outline-tab > div:nth-child(2) {
  margin-left: auto;
  margin-right: auto;
}

.row.course-outline-tab > div:nth-child(3) {
  display: none;
}