// Use this file to define style overrides for @edx/paragon
// This file is included after all Paragon styles, but should generally avoid using private mixins in Paragon.

//override
body{
  background-color:$cyber-dark;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;


 // Change background color in course
div, footer, 
.sequence-navigation .sequence-navigation-tabs .btn,
.pgn__data-table.is-striped tr:nth-child(2n){
  background-color: $cyber-dark;
}

//Change header background color in course
header div{
  background-color: $cyber-darker !important;
}


p{
  color: $light !important;
}
header {
  color: $light;
}
.nav-underline-tabs .nav-link{
  color :$light;}

.dropdown-toggle {
  appearance: none;
  cursor: pointer;
  border-width: 2px;
  border-style: solid;
  border-color: #dd2227;
  border-radius: 4px;
  color: #fff;
  text-decoration: none;
  display: inline-block;
  padding: 10px 20px;
  background-color: transparent;
  letter-spacing: 0;
  transition: background-color 0.5s, color 0.5s;
  box-shadow: none;
  background-image: none;
}

.dropdown-toggle:hover{
  background-color: #dd2227 !important;
  color: #fff;
  background-image: none !important;
  border-color: $primary !important;
  box-shadow: none;
}

.dropdown-item{
  color:#fff;
}

.dropdown-item:focus, .dropdown-item:hover {
  background-color: $primary;
    color: $light;
}

.course-tabs-navigation .nav a:not(.active):hover,
.course-tabs-navigation .nav a:hover, .course-tabs-navigation .nav button:hover {
  background-color: $primary;
}

.pgn__menu-select-trigger-btn {
  box-sizing: border-box;
  border: none;
  color: $primary;
  background-color: transparent;
}

.pgn__menu-select-trigger-btn:hover {
  background: none;
  border: none;
  box-sizing: border-box;
  color: #960e29;
}

.sequence-navigation .sequence-navigation-tabs .btn {
  color: #fff;
}

.sequence-navigation .next-btn,
.sequence-navigation .previous-btn {
  color: $light;
}
.icon-container{
  color: #fff;
}

.text-dark-700 {
  color: $light !important;
}

.text-dark-500 {
  color: $primary !important;
}

.unit-navigation .btn-outline-primary:hover,
.unit-navigation .btn-outline-secondary:hover {
    background-color: $primary;
    border-color: #9a0e2a;
    color: #fff;
}

.collapsible-trigger span.align-middle {
    color: $light;
}

.course-outline-tab > .col-md-4 > section > ul > li > a {
  display: none;
}

div .h2 {
    color: $light;
}

.unit-container {
  max-width: none;
  margin-right: 0;
  margin-left: 0;
  padding-left: 40px;
  padding-right: 40px;
}

}

#root header {
    display: none;
}

#root footer {
    display: none !important;
}

.course-tabs-navigation {
    display: none;
}

#root [data-testid="instructor-toolbar"] {
    display: none;
}

#main-content div.position-relative.d-flex.align-items-start {
    display: none !important;
}

.sequence-container{
margin-bottom:0;
}

.text-right.small.py-1 {
    display: none;
}

#root main {
  flex-grow: 1;
}

//Improve Edx Course Index
//Button anchor
.row.w-100.m-0.mb-3.justify-content-end > .col-12.col-md-auto.p-0 > button {
  background: none;
  border: none;
  color: $primary; 
  cursor: pointer;
  padding: 0;
  margin: 0;
  font: inherit;
}

.row.w-100.m-0.mb-3.justify-content-end > .col-12.col-md-auto.p-0 > button:hover {
  text-decoration: underline;
}

.row.w-100.m-0.mb-3.justify-content-end > .col-12.col-md-auto.p-0 > button:focus {
  outline: none;
}


//header

[data-testid="start-resume-card"] .pgn__card-header .pgn__card-header-actions .btn {
  color: $light; 
  width: fit-content;
  margin-top: 5px; 
}

.mb-3.raised-card.pgn__card.pgn__card-light.card .pgn__card-header{
  display: block !important;
  color: $light;
}
.mb-3.raised-card.pgn__card.pgn__card-light.card .pgn__card-header .pgn__card-header-content .pgn__card-header-title-md{
  color: $light !important;
}

//collapsible

.pgn_collapsible.mb-2.collapsible-card-lg{
  background-color:#1a1919 !important;
  border-radius: 5px;
}

.pgn_collapsible.mb-2.collapsible-card-lg div{
  background-color:#1a1919 !important;
}

//margin
.row.course-outline-tab > div:nth-child(2) {
  margin-left: auto;
  margin-right: auto;
}

.row.course-outline-tab > div:nth-child(3) {
  display: none;
}

//content page
#root .sequence-navigation .sequence-navigation-tabs .btn {
  color: #fff !important;
  border-right: 0;
}

#root .sequence-navigation .sequence-navigation-tabs .active.btn {
  color: #dd2227 !important;
}

#courseware-sequenceNavigation .previous-btn, #courseware-sequenceNavigation .next-btn {
  display: none !important;
}

.unit-container .unit h1 {
  color: #fff !important;
  font-size: 2rem !important;
}

.unit-navigation {
  max-width: 250px !important;
}

.unit-navigation .next-button.btn-outline-primary {
  background-color: #AF1A1F !important;
  color: #fff !important;
}

.unit-navigation .previous-button.btn-outline-secondary {
  background-color: #777 !important;
  color: #fff !important;
}

.unit-navigation .previous-button.btn-outline-secondary:hover {
  border-color: #777 !important;
}

.container-xl .sequence-container .sequence {
  border: none !important; 
}
.pgn-transition-replace-group.position-relative .row.w-100.m-0 .col-auto.p-0 {
  margin-left: 25px;
}

.pgn-transition-replace-group.position-relative .row.w-100.m-0 .col-10.p-0.ml-3.text-break span a{
  color: $light;
}

.list-unstyled .mt-2.pt-2.border-top.border-light {
  border: none !important;
}

.collapsible-body .list-unstyled .row.w-100.m-0 .col-auto.p-0{
  margin-left: 25px;
}


//Title

.container-xl .row.w-100.mx-0.my-3.justify-content-between {
  display: block;
}

.container-xl .row.w-100.mx-0.my-3.justify-content-between .col-12.col-sm-auto.p-0{
  flex: 0 0 66.66666667%;
  max-width: 66.66666667%;
  margin-left: auto;
  margin-right: auto;
}

.container-xl .row.w-100.mx-0.my-3.justify-content-between .col-12.col-sm-auto.p-0 .h2{
  text-align: center;
}


//No session page
.fade.alert-content.alert.alert-warning.show{
  visibility: hidden;
  margin-top: 10%;
}

.fade.alert-content.alert.alert-warning.show::after {
  content: "You are about to start";
  font-size: 2rem;
  color: white;
  visibility: visible;
  display: block;
  position: absolute;
  padding: 5px;
  top: 2px;
  left: 50%;
  transform: translate(-50%, 0);
}

.pgn__alert-message-wrapper{
  display: block;
}

.alert-message-content {
  margin-right: auto;
    margin-left: auto;
    width: fit-content;
    color: #313131;
}

.alert-message-content .pgn__hyperlink.default-link.standalone-link{
  visibility: hidden;
}

.fade.alert-content.alert.alert-light.show .alert-message-content .pgn__hyperlink.default-link.standalone-link::after{
  display: inline-block;
  padding: 5px 20px;
  content: 'Start now';
  font-size: 1rem;
    height: 35px;
  background-color: #AF1A1E;
  color: white;
  visibility: visible;
  text-decoration: none !important;
  border-radius: 7px;
  position: absolute;
    left: 50%;
    transform: translate(-50%);

}

.alert-message-content a:nth-of-type(2){
  display: none !important;
}

.fade.alert-content.alert.alert-light.show {
  border: none;
    box-shadow: none;
}

.fade.alert-content.alert.alert-light.show .alert-message-content p {
  display: none;
}