// Use this file to set SASS variables for @edx/paragon
// See _variables.scss in https://github.com/openedx/paragon/blob/master/scss/core/ for reference

$headings-color:#dd2227 !default;
$primary: #dd2227 !default;
$secondary: gray !default;
$brand: #dd2227 !default;
$success: green !default;
$info: #dd2227 !default;
$danger: #dd2227 !default;
$warning: yellow !default;
$light: #d9d9d9 !default;
$dark: #273F2F !default;
$accent-a: #00BBF9 !default;
$accent-b: #FFEE88 !default;
$cyber-dark: #313131;
$cyber-darker: #1f1f1f;